[user]
	name = Amar Sanakal
	email = amar.sanakal@gmail.com
[credential]
	cache = cache --timeout=3600
	helper = cache --timeout=3600
[alias]
	st = status
	co = checkout
	cm = commit
	cl = clone
	br = branch
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
